<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.17.0" targetFramework="net48" />
  <package id="CliWrap" version="3.5.0" targetFramework="net48" />
  <package id="Confluent.Kafka" version="1.9.3" targetFramework="net48" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net48" />
  <package id="Google.Apis" version="1.57.0" targetFramework="net48" />
  <package id="Google.Apis.Auth" version="1.57.0" targetFramework="net48" />
  <package id="Google.Apis.Core" version="1.57.0" targetFramework="net48" />
  <package id="Google.Protobuf" version="3.19.4" targetFramework="net48" />
  <package id="K4os.Compression.LZ4" version="1.2.6" targetFramework="net48" />
  <package id="K4os.Compression.LZ4.Streams" version="1.2.6" targetFramework="net48" />
  <package id="K4os.Hash.xxHash" version="1.0.6" targetFramework="net48" />
  <package id="librdkafka.redist" version="1.9.2" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.1.1" targetFramework="net48" />
  <package id="MySql.Data" version="8.0.31" targetFramework="net48" />
  <package id="MySql.Data.EntityFramework" version="8.0.31" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="Portable.BouncyCastle" version="1.9.0" targetFramework="net48" />
  <package id="Quartz" version="3.5.0" targetFramework="net48" />
  <package id="RoundRobin" version="2.2.1" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.7.1" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net48" />
  <package id="System.Text.Encoding.CodePages" version="5.0.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="7.0.0" targetFramework="net48" />
  <package id="System.Text.Json" version="7.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="Telegram.Bot" version="18.0.0" targetFramework="net48" />
  <package id="YoutubeExplode" version="6.2.4" targetFramework="net48" />
  <package id="YoutubeExplode.Converter" version="6.2.4" targetFramework="net48" />
</packages>